
.idea/description.html
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/vcs.xml
.idea/workspace.xml
viterbi-hmm.iml
*.xml
.idea/vcs.xml
*.class
